html, body{
    margin: 0 auto;
    height: 100%;
    background-color: rgb(182, 182, 182);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow-x: hidden;
}

#contenedor{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 10vh 1fr;
    height: 100vh;
}

#banner{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    background-color: #2E382D;
    position: fixed;
    width: 100%;
    height: 9vh;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    z-index: 2;
}

#menu {
    position: fixed;
    top: 9vh;                    
    left: 0;
    width: 200px;
    height: calc(100vh - 9vh);    
    background-color: #2E382D;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    z-index: 1;
}

#contenido{
    grid-column: 2;
    grid-row: 2;
    grid-row-start: 2;
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    top: 9vh;
    align-items: center;
    z-index: 0;
}

#banner #banner_izq{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    color: white;
}

#banner_izq #nombre_empresa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.5rem;
}

#nombre_empresa h1{
    margin-top: -0.2rem;
    margin-bottom: 0;
}
#nombre_empresa p{
    margin: 0;
}

#menu h1{
    padding-inline: 30px;
}

#menu #copyr {
    align-self: center;
    opacity: 0.4;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 2rem 0 2rem 2rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

#menu nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu a:hover{
    background: #4a5849;
    width: 210px;
}

#contenido #inicio{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(content/bosque.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    padding-inline: 20vw;
    height: 90vh;
    color: white;
}

#inicio a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: #2E382D;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5rem;
    margin-top: 5rem;
}
#inicio a:hover{
    background-color: #4a5849;
}

#objetivos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 15vw;
    height: 90vh;
    background-color: #20291f;
    color: white;
}
#objetivos h1{
    text-align: center;
}

#objetivos #fila_objetivo{
    display: flex;
    flex-direction: row;
}

#fila_objetivo #izq, #der{
    padding: 2rem;
}

#der img{
    margin: 0 auto;
}





/* PARA HACER QUE SEA RESPONSIVE EN CELULAR */
@media (max-width: 768px) {
    #contenedor {
        display: block;
    }

    #banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 12vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem 0;
        z-index: 10;
    }

    #menu {
        position: fixed;
        top: 10vh;
        height: 5rem;
        width: 100%;
        background-color: #2E382D;
        color: white;
    }

    #menu h1,
    #menu #copyr {
        display: none;
    }

    #menu nav{
        display: flex;
        flex-direction: row;
    }

    #menu a{
        padding-inline: 0.4rem;
        text-align: center;
        padding-bottom: 1rem;
        flex-grow: 1;
        white-space: nowrap;
        font-size: 0.9rem;
    }

    #menu a:hover{
        background-color: #4a5849;
        width: 100%;
    }



    #contenido {
        display: flex;
        flex-direction: column;
        margin-top: 18vh;    
        margin-bottom: 8vh;  
        height: auto;
        padding: 0;
    }

    #contenido #inicio{
        display: flex;
        flex-direction: column;
        padding: 5rem;
        padding-bottom: 5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(content/bosque.jpg);
        background-size: cover;
        background-position: center;
    }

    #contenedor #objetivos{
        display: flex;
        flex-direction: column;
        padding: 10vh;
        height: 100%;
        overflow-x: none;
    }
    #objetivos #fila_objetivo{
        display: flex;
        flex-direction: column;
    }

    #objetivos #der img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.2rem;
    }
}